/*
    General Styles
*/
img{
        width: 70px;
}
.container{
    overflow: scroll;
    margin-right: 0px;
}

.card-deck{
        display: flex;

       width: 4295px;

}

h1{
    color:#d72d2d;
        padding: 26px;
}
p{
    width: 123px;
        margin: auto;
}

.card-img-top {
    width: 70%;
    margin-left: 173px;}

    .card-img-top1 {
    width: 100%;
    }

    .card-deck .card {
margin-bottom: 0px;}

.ml-auto{
    margin-left: 20px;
}