/*
    General Styles
*/
img{
        width: 70px;
}
.container{
    overflow-y: scroll;
    margin-right: 0px;
        max-width: 1237px;
        margin-left: 131px;
}

.card-deck{
        display: flex;
     margin-bottom: 20px;
           width: 3829px;

}

h1{
    color:#d72d2d;
    padding-top: 21px;
            padding-bottom: 26px;
    margin-right: 886px;
}


.card-img-top {
    width: 70%;
    margin-left: 173px;}

    .card-img-top1 {
    width: 100%;
    }

    .card-deck .card {
    margin-bottom: 0px;
    height: 373px;
    text-align: left;
    }

.ml-auto{
        margin-right: 130px;
}
.navbar-light .navbar-brand {

    margin-left: 140px;
}
   .mt-5, .my-5 {
    margin-top: 1rem !important;

}
.card-title {

    text-align: left;}

    .far fa-heart{

        margin-left: 200px;
    }
    ul{
        list-style-type:  none;
        padding: 0px;
    }
.mt-3{

    border-top: red solid 1px;
margin-left: 192px;
    width: 1000px;
}