/*
    General Styles
*/
img{
        width: 70px;
}
.container{
    overflow: scroll;
}

.card-deck{
        display: flex;

    width: 5000px;
    height: 500px;
}

h1{
    color:#d72d2d;
        padding: 26px;
}
p{
    width: 123px;
        margin: auto;
}
